body {
	align:center;
	margin: 0;
	padding: 0;
  	font-family: Arial, "MS Sans Serif", "Geneva", sans-serif;
  	font-size: 12px;
  	text-align: center;
  	background-color: white;
  	color: #77776e;
}

#Incorrect a, #Incorrect {
color: red;
font-size: 9px;
}

#main {
	width: 900px;
	text-align: left;
	margin: 0 auto 0 auto;
	background-color: #ffffff;
	padding: 90px 10px 0px 10px;

}

.column {
  width: 30%;
  float: left;
  margin: 0 0.5% 0 0.5%;
}

.expanded { width: auto; }

.nopadding { padding: 0px; }
.nomargin { margin: 0px; }

div.spacer {
  width: 1px; height: 1px;
  clear: both !important;
}

#header-content {
	position: fixed;
	width:100%;
	height:40px;
	padding:0;
	background:#8a279d;
	opacity:.8;
	filter: alpha(opacity=80);
	z-index:2;
}
#header-content h1 {
	color:#fff;
	font-size:20px;
	line-height:30px;
	margin:0;
	padding:10px 200px 0 0;
	float:right;
}
#header-image {
	position: fixed;
	float:left;
	width: auto;
	margin: 0;
	padding:40px 0 0 0;
	}


a, a:visited {
  text-decoration: none;
  color: #F03528; 
}
a:hover { text-decoration: underline; }
a.button:link, a.button:active, a.button:hover, a.button:visited { text-decoration: none; }

.highlight a, .highlight a:visited { color: #F03528; }

form { margin: 0px; }

p, ul { margin-top: 0; }
img, a img { border: none; }

#footer {
  padding-top: 7px;
  margin: 20px auto 0 auto;
  width: 900px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background-color: #90C73e;
}

#navbar {
	padding: 5px 0 5px 0;
	position: fixed;
	border-collapse: collapse;
	margin: 50px auto auto 300px;
	text-align: center;
	background:#90C73e ;
	opacity:.8;
	filter: alpha(opacity=80);
	z-index:2;
}

table.navbar tr td {
	width: 133px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: black;
}

table.navbar tr td a,
table.navbar tr td a:hover,
table.navbar tr td a:visited { color: black; }

table.navbar tr td:hover { text-decoration: underline; }

table.navbar tr td.current,
table.navbar tr td.current:hover
{
	opacity: 0.9;
	filter: alpha(opacity=90);
 	text-decoration: none;
 	cursor: auto;
  	background-color: #90C73e;
  	color: white;
}

.banner {
  background-color: #f03528;
  color: white;
  padding: 8px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: .92em;
  margin-top: 4px;
  vertical-align: middle;
}

.banner a, .banner a:visited, .banner a:active, .banner h2, .banner p {
  color: #FFFFFF;
  display: inline;
  font-weight: bold;
}

.banner h2 { margin-right: .5em; }

.main-title { font-family: Georgia, Palatino, Times, "MS Serif", serif; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* IE box model fix class - take 2 aspirin and apply to problem areas */
* html .visualIEFloatFix { height: 0.01%; }

h2, h3 {
  color: black;
  font-weight: bold;
  margin: 0 auto 0 auto;
}

h2 { font-size: 1.33em; }
h3 { font-size: 1.16em; }

p.togglebutton {
  float: left;
  margin: 0;
  margin-right: .5em;
}

.container {
  background-color: #f2f2ee;
  padding: 0 0 0 0;
  margin: 4px 0 10px 0;
}

.clickable { cursor: pointer; }
.container .title   { padding-top: .75em; }
.container .content { padding-top: .25em; }

.container .title, .container .content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .75em;
  margin: auto 0 auto 0;
}

.container_select { padding: 0px; font-size: 0.92em; }
.container_input { padding: 1px; font-size: 0.92em; }
.container_button { padding: 0px 3px 0px 3px; }

div#activities_content, div#feedback_content, div#login_content {
  font-size: .92em;
}

#feedback { font-size: .96em; }

.feedback_category_header {
  font-weight: bold;
  font-size: 13px;
  font-variant: small-caps;
}

div.notices {
  border: 2px solid left right;
  margin-bottom: 8px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: white;
}

div.notices .body {
  line-height: 150%;
  font-family: Georgia, Palatino, Times, "MS Serif", serif;
  background-color: white;
}

img.notices { border: 0px; }

h2.notices_title {
  color: #F03528;
  font-style: italic;
  font-family: Georgia, Palatino, Times, "MS Serif", serif;
}

div.notices_date_top {
  float: left;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 0.9em;
  color: #77776E; 
}

div#profiles .title a,
div#profiles .title a:visited,
div#profiles .title a:active,

#updates a { color: #77776E; }

ul.sparktree li { margin-bottom: 3px; }

ul.sparktree li.closed ul { display: none; }

ul.sparktree li.open ul {
  display: block;
  list-style-type: none;
  margin-left: 3em;
  margin-top: .5em;
  margin-bottom: 1em;
  padding-left: 0;
  font-size: 0.83em;
  font-weight: normal;
}

ul.sparktree li.open ul li {
  margin: 0em auto .5em auto;
}

img.sparktree, img.sparktree_empty {
  vertical-align: middle;
  margin-right: 3px;
  width: 19px;
  height: 19px;
}
img.sparktree { cursor: pointer; }

ul.sparktree li a, ul.sparktree li strong {
  padding: 2px;
  font-weight: inherit;
}

ul.sparktree li a:hover {
   background-color: white;
   text-decoration: none;
}

.sparktree strong,
.sparktree li ul li strong {
  background-color: #F03528;
  color: white;
}

#about a { color: #77776E; }
#about a:hover { 
  text-decoration: none;
}

#login a { color: #77776E; }
#login a:hover { 
  text-decoration: none;
}

#updates ul.sparktree li.open ul li a:hover {
  background-color: white;
}