body {
	margin: 0;
	font-family: Arial, "MS Sans Serif", "Geneva", sans-serif;
	font-size: 12px;
	background: url(../images/bg.png) repeat-x fixed 0px 100% rgb(0, 48, 69);
	color: rgb(0, 48, 69);
}

.error a, .error {
color: red;
font-size: 11px;
}

#main {
	width: 900px;
	margin: 0 auto 0 auto;
	background: transparent;

}

.column {
  width: 32%;
  float: left;
  margin: 0 0.5% 0 0.5%;
}

.spacer {
  width: 1px; 
  height: 1px;
  clear: both !important;
}

#header-content {
	height:40px;
	background: url(../images/header-bar.png) repeat-x 0px 100% #8a279d;
}
#header-content h1 {
	color: #ffffff;
	font-size: 17px;
	margin: 0;
	padding: 6px 200px 0 0;
	float: right;
}

a, a:visited {
  text-decoration: none;
  color: #F03528; 
}
a:hover { text-decoration: underline; }

img, a img { border: none; }

#navbar {
	width: 680px;
	padding: 5px 0 5px 0;
	border-collapse: collapse;
	margin: 20px auto 15px auto;
        background: url(../images/navbar-bg2.png) repeat-x 0px 100% #90c73e;
}

table.navbar tr td {
	width: 133px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
}

ul, p {
	margin-top: 0;
}

table.navbar tr td:hover { text-decoration: underline; }

/* IE box model fix class - take 2 aspirin and apply to problem areas */
* html .visualIEFloatFix { height: 0.01%; }

h2, h3 {
  color: #000000;
  font-weight: bold;
  margin: 0 auto 0 auto;
}

h2 a:hover {
  text-decoration: none;
}

h2 { font-size: 1.33em; }
h3 { font-size: 1.16em; }

p.togglebutton {
  float: left;
  margin: 0;
  margin-right: .5em;
}

.container {
  background: url(../images/box-bg.png) repeat-x 0px 100% #F2F2EE;
  margin: 4px 0 10px 0;
}

.clickable { cursor: pointer; }
.container .title   { padding-top: .75em; }
.container .content { padding-top: .25em; }

.container .title, .container .content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .75em;
  margin: auto 0 auto 0;
}